
       <div class="cover">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                     
                        <a class="navbar-brand"></a>
						<ul class="nav navbar-nav navbar-right">
                            <li class="active">
                               <form ng-submit="connectDb()" style="margin-top:30px;">
                                    <button type="submit" class="btn btn-primary">Connect<span class="fa fa-database fa-fw fa-lg text-warning"></span></button>
                                </form>
                            </li>
						</ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        
						<ul class="nav navbar-nav navbar-right">	
                             <li>
                                <form style="margin-top:30px;">
                                    <div ui-sref="search"><button type="submit" class="btn btn-primary">Start Search<span class="fa fa-fw fa-lg text-warning fa-search"></button></div>
                                </form>
                            </li>
						</ul>	
                       
                    </div>
                </div>
            </div>
            <div class="cover-image" style="background-image : url('img/home.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-muted">Airline Tweets Searcher</h1>
                        <p>A simple tool to search tweets regarding airline with functionality to give comments</p>
                        <br>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img src="img\tweet.png" class="img-responsive" width ="200" height ="200">
                    </div>
                    <div class="col-md-9">
                        <h1 class="text-primary">Search for Tweets</h1>
                        <h3>An interactive tool to search for tweets regarding airlines</h3>
                        <p></p>
                    </div>
                </div>
				<div class="row">
                    <div class="col-md-3">
                        <img src="img\comment.png" class="img-responsive" width ="190" height ="190">
                    </div>
                    <div class="col-md-9">
                        <h1 class="text-primary">Add Comments</h1>
                        <h3>Share your thoughts on the tweets</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    
     